<header>
  <h1>{{method}} Request Received</h1>
</header>
<div class="query-info">
  <h2>URL Query Values</h2>
  <ul>
    {{#each queryList}}
      <li><span class="pName">{{this.name}}</span>: {{this.value}}</li>
    {{/each}}
  </ul>

</div>
<div class="body-info">
  <h2>Request Body Values</h2>
  <ul>
    {{#each bodyList}}
      <li><span class="pName">{{this.name}}</span>: {{this.value}}</li>
    {{/each}}
  </ul>

</div>
